@font-face {
    font-family: 'NMS Alphabet';
    src: url('nms-alphabet.eot');
    /* IE9 Compat Modes */
    src: url('nms-alphabet.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('nms-alphabet.woff') format('woff'),
        /* Modern Browsers */
        url('nms-alphabet.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    font-family: 'NMS Alphabet', Helvetica, sans-serif !important;
}