@font-face {
    font-family: 'NMS Alphabet';
    src: url('nms-alphabet.eot');
    src: url('nms-alphabet.eot?#iefix') format('embedded-opentype'),
        url('nms-alphabet.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
