.alphabet-grid {
    margin: 0 2em;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);

    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(10, 1fr);
        margin: 0 1em;
    }

    @media only screen and (max-width: 850px) {
        grid-template-columns: repeat(9, 1fr);
        margin: 0 1em;
    }

    @media only screen and (max-width: 700px) {
        grid-template-columns: repeat(8, 1fr);
        margin: 0 0.5em;
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(8, 1fr);
        margin: 0;
        margin-bottom: 1em;
    }
}

.alphabet-block {
    position: relative;
    border: 3px rgba(0, 0, 0, 0.15) dashed;
    border-radius: 10px;

    p {
        margin: 0;
        text-transform: capitalize;
        text-align: center;
        border-bottom: 3px rgba(0, 0, 0, 0.15) dashed;
    }

    img {
        margin: 10px 0;
    }


    .view-usage {
        position: absolute;
        top: 0.15em;
        right: 0.2em;
        opacity: 0;
        transition: opacity 250ms ease-in-out;

        img {
            margin: 0;
        }
    }


    &:hover {
        .view-usage {
            opacity: 1;
        }
    }
}

.alphabet-block:nth-child(2n) .letter {
    color: #e9c46a;
}

.alphabet-block:nth-child(3n) .letter {
    color: #264653;
}

.alphabet-block:nth-child(5n) .letter {
    color: #2a9d8f;
}

.alphabet-block:nth-child(7n) .letter {
    color: #f4a261;
}

.alphabet-letter {
    font-weight: bold;
    font-size: 4em;
    color: #e76f51;
    text-transform: uppercase;
}

.alphabet-selectedLetter {
    background-color: #eed9cb;
    border-radius: 50%;
}

.keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

    #keyboard-dropdown {
        max-width: 500px;
        margin-left: 1em;
    }
}