html {
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    background-image: url('../images/nmsBackground.jpg');
    background-position: center center;
    background-size: cover;

    &.dark {
        background-image: url('../images/nmsBackgroundDark.jpg');
    }
}